html, 
body {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
    text-align: center;
    font-family: "Fredoka", sans-serif;
}

h1{
    font-size: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

@media (max-width: 1300px) {
    .one, .one2, .one3, .one4, .one5, .one6, .one7, .one8, .one9 {
        width: calc(40% - 20px);
    }
}

@media (max-width: 900px) {
    .one, .one2, .one3, .one4, .one5, .one6, .one7, .one8, .one9 {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
}


.one, .one2, .one3, .one4, .one5{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px;
    margin: 10px;
    padding: 15px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    transition: transform 0.5s;
}

.one-img {
    width: 100%;
}

@media (max-width: 1300px) {
    .one{
        width: calc(40% - 20px);
    }
}

@media (max-width: 900px) {
    .one{
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
}
.one:hover{
    transform: scale(1.1) translateY(10px);
}

.one2:hover{
    transform: translateY(20px) translateX(20px);

}

.one3:hover{
    transform: rotate(7200deg);
}

.one4:hover{
    transform: skew(-20deg);
}

.one5:hover{
   border-color: black;
   border-radius: 10px;
    background-color: aqua;
}

.one6{
    animation: rainbow .1s infinite;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px;
    margin: 10px;
    padding: 15px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    transition: transform 0.5s;
}


@keyframes rainbow {
 0%{
    background-color: red;
 }

16.7%{
    background-color: orange;
}

33.3%{
background-color: yellow;
}

50%{
    background-color: green;
}

66.7%{
    background-color: blue;
}

83.4%{
    background-color: indigo;
}

100%{
    background-color: violet;
}

}

